In [1]:
# Process daily rainfall to generate monthly rainfall w/storm anomaly column
# Read csv and produce rainfall totals by monthhttp://localhost:8888/notebooks/ConvertRain.ipynb#
#
# Dependencies and Setup
#
import pandas as pd
import os
import datetime
import re
import numpy as np
import psycopg2
from sqlalchemy import create_engine

In [2]:
# File to Load (Remember to change the path if needed.)
rain = os.path.join("Resources", "daily_rainfall.csv")

# Read the School Data and Student Data and store into a Pandas DataFrame
rain_df = pd.read_csv(rain)
rain_df.head()

          CITY   LATITUDE  LONGITUDE  ELEVATION      DATE  PRCP
0  Bridgewater  40.626247 -74.653535       32.9  1/1/2011  0.00
1  Bridgewater  40.626247 -74.653535       32.9  1/2/2011  0.04
2  Bridgewater  40.626247 -74.653535       32.9  1/3/2011  0.02
3  Bridgewater  40.626247 -74.653535       32.9  1/4/2011  0.00
4  Bridgewater  40.626247 -74.653535       32.9  1/5/2011  0.00

In [3]:
rain_df.dtypes

CITY          object
LATITUDE     float64
LONGITUDE    float64
ELEVATION    float64
DATE          object
PRCP         float64
dtype: object

In [4]:
# Convert eom_date from string to date
rain_df['DATE'] = pd.to_datetime(rain_df.DATE)

In [5]:
rain_df.dtypes

CITY                 object
LATITUDE            float64
LONGITUDE           float64
ELEVATION           float64
DATE         datetime64[ns]
PRCP                float64
dtype: object

In [6]:
# Extract Month, Day and Year from DATE and Add to Dataframe
rain_df['Month'] = pd.DatetimeIndex(rain_df['DATE']).month
rain_df['Year'] = pd.DatetimeIndex(rain_df['DATE']).year

In [7]:
rain_df.drop(['DATE'],1)

C:\Users\mgaud\AppData\Local\Temp/ipykernel_10740/1733360574.py:1: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  rain_df.drop(['DATE'],1)

             CITY   LATITUDE  LONGITUDE  ELEVATION  PRCP  Month  Year
0     Bridgewater  40.626247 -74.653535       32.9  0.00      1  2011
1     Bridgewater  40.626247 -74.653535       32.9  0.04      1  2011
2     Bridgewater  40.626247 -74.653535       32.9  0.02      1  2011
3     Bridgewater  40.626247 -74.653535       32.9  0.00      1  2011
4     Bridgewater  40.626247 -74.653535       32.9  0.00      1  2011
...           ...        ...        ...        ...   ...    ...   ...
9939   Somerville  40.570408 -74.605258       18.6  0.02      6  2022
9940   Somerville  40.570408 -74.605258       18.6  1.15      6  2022
9941   Somerville  40.570408 -74.605258       18.6  0.07      6  2022
9942   Somerville  40.570408 -74.605258       18.6  0.04      6  2022
9943   Somerville  40.570408 -74.605258       18.6  0.44      6  2022

[9944 rows x 7 columns]

In [8]:
rain_df.dtypes

CITY                 object
LATITUDE            float64
LONGITUDE           float64
ELEVATION           float64
DATE         datetime64[ns]
PRCP                float64
Month                 int64
Year                  int64
dtype: object

In [9]:
#Summarize Rainfall Totals by city and month/year
#Get max, avg daily and total accumulated rainfall value for each city for month/year
per_city_rainfall_df = rain_df.groupby(['CITY','LATITUDE','LONGITUDE','ELEVATION','Month','Year']).agg({'PRCP': ['max','sum','mean']})
per_city_rainfall_df.columns = ['city_max_day_rain', 'city_month_total_rain', 'city_avg_daily_rain']

In [10]:
per_city_rainfall_df

                                                       city_max_day_rain  \
CITY        LATITUDE  LONGITUDE  ELEVATION Month Year
Bridgewater 40.626247 -74.653535 32.9      1     2011               1.25
                                                 2012               1.10
                                                 2013               1.16
                                                 2014               0.58
                                                 2015               1.69
...                                                                  ...
Somerville  40.570408 -74.605258 18.6      12    2017               0.20
                                                 2018               0.00
                                                 2019               1.07
                                                 2020               0.83
                                                 2021               0.17

                                                       city_month_total_rain  \
CITY        LATITUDE  LONGITUDE  ELEVATION Month Year
Bridgewater 40.626247 -74.653535 32.9      1     2011                   3.18
                                                 2012                   3.05
                                                 2013                   2.62
                                                 2014                   2.99
                                                 2015                   4.26
...                                                                      ...
Somerville  40.570408 -74.605258 18.6      12    2017                   0.23
                                                 2018                   0.00
                                                 2019                   1.13
                                                 2020                   0.83
                                                 2021                   0.29

                                                       city_avg_daily_rain
CITY        LATITUDE  LONGITUDE  ELEVATION Month Year
Bridgewater 40.626247 -74.653535 32.9      1     2011             0.106000
                                                 2012             0.098387
                                                 2013             0.084516
                                                 2014             0.096452
                                                 2015             0.137419
...                                                                    ...
Somerville  40.570408 -74.605258 18.6      12    2017             0.115000
                                                 2018             0.000000
                                                 2019             0.282500
                                                 2020             0.207500
                                                 2021             0.058000

[402 rows x 3 columns]

In [11]:
# Add column to calculate percentage max rain / total accumulated for month (used to determine if storm occurred)
per_city_rainfall_df['Anomalypct'] = per_city_rainfall_df['city_max_day_rain'] / per_city_rainfall_df['city_month_total_rain'] 
per_city_rainfall_df['Anomalypct'] = per_city_rainfall_df['Anomalypct'].fillna(0)

In [12]:
# Add column to indicate if storm within the month where rainfall for the day over month exceeds 70% of total rain for month
per_city_rainfall_df['Anomaly'] = np.where(per_city_rainfall_df.Anomalypct > .70, 'Y', 'N')

In [13]:
per_city_rainfall_df

                                                       city_max_day_rain  \
CITY        LATITUDE  LONGITUDE  ELEVATION Month Year
Bridgewater 40.626247 -74.653535 32.9      1     2011               1.25
                                                 2012               1.10
                                                 2013               1.16
                                                 2014               0.58
                                                 2015               1.69
...                                                                  ...
Somerville  40.570408 -74.605258 18.6      12    2017               0.20
                                                 2018               0.00
                                                 2019               1.07
                                                 2020               0.83
                                                 2021               0.17

                                                       city_month_total_rain  \
CITY        LATITUDE  LONGITUDE  ELEVATION Month Year
Bridgewater 40.626247 -74.653535 32.9      1     2011                   3.18
                                                 2012                   3.05
                                                 2013                   2.62
                                                 2014                   2.99
                                                 2015                   4.26
...                                                                      ...
Somerville  40.570408 -74.605258 18.6      12    2017                   0.23
                                                 2018                   0.00
                                                 2019                   1.13
                                                 2020                   0.83
                                                 2021                   0.29

                                                       city_avg_daily_rain  \
CITY        LATITUDE  LONGITUDE  ELEVATION Month Year
Bridgewater 40.626247 -74.653535 32.9      1     2011             0.106000
                                                 2012             0.098387
                                                 2013             0.084516
                                                 2014             0.096452
                                                 2015             0.137419
...                                                                    ...
Somerville  40.570408 -74.605258 18.6      12    2017             0.115000
                                                 2018             0.000000
                                                 2019             0.282500
                                                 2020             0.207500
                                                 2021             0.058000

                                                       Anomalypct Anomaly
CITY        LATITUDE  LONGITUDE  ELEVATION Month Year
Bridgewater 40.626247 -74.653535 32.9      1     2011    0.393082       N
                                                 2012    0.360656       N
                                                 2013    0.442748       N
                                                 2014    0.193980       N
                                                 2015    0.396714       N
...                                                           ...     ...
Somerville  40.570408 -74.605258 18.6      12    2017    0.869565       Y
                                                 2018    0.000000       N
                                                 2019    0.946903       Y
                                                 2020    1.000000       Y
                                                 2021    0.586207       N

[402 rows x 5 columns]

In [14]:
# Export to DF to CSV
per_city_rainfall_df.to_csv("Resources/per_city_rainfall_final.csv")

In [15]:
#psql --host=finalprojectgroup5.c1jelrjhbrlm.us-east-1.rds.amazonaws.com --port=5432 --username=postgres --finalgroup5 --dbname=finalprojectgroup5

In [16]:
# Configure connect string to RDS Postgres DB on AWS
#mode = "append"
#jdbc_url="jdbc:postgresql://finalprojectgroup5.c1jelrjhbrlm.us-east-1.rds.amazonaws.com/"
#config = {"user":"postgres", 
#          "password": "finalgroup5", 
#          "driver":"org.postgresql.Driver"}
#engine = psycopg2.connect(
#    database="postgres",
#    user="postgres",
#    password="finalgroup5",
#    host="finalprojectgroup5.c1jelrjhbrlm.us-east-1.rds.amazonaws.com",
#    port='5432'
#)
engine = create_engine('postgresql+psycopg2://postgres:finalgroup5@finalprojectgroup5.c1jelrjhbrlm.us-east-1.rds.amazonaws.com:5432/postgres')

In [17]:
df=pd.read_sql("select * from cities",engine)

In [18]:
df

   zipcode               city     county floodzone  latitude  longitude
0    08901      New Brunswick  Middlesex         A  40.48603   -74.4310
1    08904      Highland park  Middlesex        AE  40.49333   -74.4338
2    08876         Somerville   Somerset        AE  40.55752   -74.6154
3    08805        Bound Brook   Somerset         X  40.56078   -74.5339
4    08807        Bridgewater   Somerset         0  40.54642   -74.6706
5    08835           Manville   Somerset         0  40.54950   -74.5893
6    08854         Piscataway  Middlesex         0  40.53554   -74.4940
7    08872         Sayreville  Middlesex         0  40.46995   -74.3612
8    08817             Edison  Middlesex         0  40.49621   -74.3969
9    08861        Perth Amboy  Middlesex         0  40.50957   -74.2801
10   08880  South Bound Brook   Somerset         0  40.56861   -74.5238

In [19]:
# Write 
#df.to_sql(con=connection, name='TBL_NAME', schema='SCHEMA', index=False, if_exists='replace')
per_city_rainfall_df.to_sql(name='per_city_rainfall', schema='public', con=engine, if_exists='replace')

In [20]:
df2=pd.read_sql("select * from per_city_rainfall",engine)

In [21]:
df2

,CITY,LATITUDE,LONGITUDE,ELEVATION,Month,Year,city_max_day_rain,city_month_total_rain,city_avg_daily_rain,Anomalypct,Anomaly
0,Bridgewater,40.626247,-74.653535,32.9,1,2011,1.25,3.18,0.106000,0.393082,N
1,Bridgewater,40.626247,-74.653535,32.9,1,2012,1.10,3.05,0.098387,0.360656,N
2,Bridgewater,40.626247,-74.653535,32.9,1,2013,1.16,2.62,0.084516,0.442748,N
3,Bridgewater,40.626247,-74.653535,32.9,1,2014,0.58,2.99,0.096452,0.193980,N
4,Bridgewater,40.626247,-74.653535,32.9,1,2015,1.69,4.26,0.137419,0.396714,N
...,...,...,...,...,...,...,...,...,...,...,...
397,Somerville,40.570408,-74.605258,18.6,12,2017,0.20,0.23,0.115000,0.869565,Y
398,Somerville,40.570408,-74.605258,18.6,12,2018,0.00,0.00,0.000000,0.000000,N
399,Somerville,40.570408,-74.605258,18.6,12,2019,1.07,1.13,0.282500,0.946903,Y
400,Somerville,40.570408,-74.605258,18.6,12,2020,0.83,0.83,0.207500,1.000000,Y
401,Somerville,40.570408,-74.605258,18.6,12,2021,0.17,0.29,0.058000,0.586207,N