In [8]:
# Dependencies and Setup
import pandas as pd
import os

In [9]:
# File to Load (Remember to change the path if needed.)
cities = os.path.join("Resources", "Cities_Along_Raritan.csv")

# Read the School Data and Student Data and store into a Pandas DataFrame
cities_df = pd.read_csv(cities)
cities_df.head()

   zipcode           city     county flood_zone  Latitude  Longitude
0  '08901'  New Brunswick  Middlesex          A  40.48603   -74.4310
1  '08904'  Highland park  Middlesex         AE  40.49333   -74.4338
2  '08876'     Somerville   Somerset         AE  40.55752   -74.6154
3  '08805'    Bound Brook   Somerset          X  40.56078   -74.5339
4  '08807'    Bridgewater   Somerset          0  40.54642   -74.6706

In [6]:
# Read the Zillow Data for Real Estate List Price History

cities = os.path.join("Resources", "Cities_Along_Raritan.csv")

# Read the RealEstateList Price Data and store into a Pandas DataFrame
cities_df = pd.read_csv(cities)
cities_df.head()

AttributeError: 'DataFrame' object has no attribute 'datatypes'