In [1]:
import numpy as np
import pandas as pd
import datetime as dt
from pathlib import Path

import matplotlib.pyplot as plt
from sklearn.linear_model import LinearRegression

In [2]:
import tensorflow
tensorflow.keras.__version__
from sklearn.preprocessing import LabelEncoder, MinMaxScaler, StandardScaler

# READ THE CSV AND PERFORM DATA PROCESSING#

In [3]:
columns =[
    "EVENT","ZIPCODES","CITIES","YEAR","MONTH","RAINFALL","FLOODZONE","STORM","AVERAGE HOUSEPRICE"
]

target =["HOUSEPRICE_VARIATION"]

In [4]:
# Load the data
import os 
file_path = os.path.join("Resources","Newbrunswick_ML.csv")
#file_path = Path('.\Resources\Newbrunswick_ML.csv')
df = pd.read_csv(file_path,encoding="utf-8")
df

,EVENT,ZIPCODES,CITIES,YEAR,MONTH,RAINFALL(avg),FLOODZONE,STORM,AVERAGE HOUSEPRICE(label)
0,NaN,8901,NEWBRUNSWICK,2020.0,1,2.01,NO,NO,285731
1,NaN,8901,NEWBRUNSWICK,NaN,2,3.08,NO,NO,287630
2,NaN,8901,NEWBRUNSWICK,NaN,3,4.54,NO,NO,287675
3,NaN,8901,NEWBRUNSWICK,NaN,4,4.20,NO,NO,288403
4,NaN,8901,NEWBRUNSWICK,NaN,5,2.33,NO,NO,287621
5,NaN,8901,NEWBRUNSWICK,NaN,6,2.91,NO,NO,287116
6,NaN,8901,NEWBRUNSWICK,NaN,7,11.39,NO,NO,286919
7,NaN,8901,NEWBRUNSWICK,NaN,8,5.72,NO,NO,290307
8,NaN,8901,NEWBRUNSWICK,NaN,9,4.61,NO,NO,295746
9,NaN,8901,NEWBRUNSWICK,NaN,10,5.66,NO,NO,302915
10,NaN,8901,NEWBRUNSWICK,NaN,11,3.47,NO,NO,307610
11,NaN,8901,NEWBRUNSWICK,NaN,12,5.21,NO,NO,311080
12,NaN,8901,NEWBRUNSWICK,2021.0,1,2.21,NO,NO,310956
13,NaN,8901,NEWBRUNSWICK,NaN,2,5.64,NO,NO,314397
14,NaN,8901,NEWBRUNSWICK,NaN,3,2.86,NO,NO,319290
15,NaN,8901,NEWBRUNSWICK,NaN,4,2.49,NO,NO,326010
16,NaN,8901,NEWBRUNSWICK,NaN,5,4.17,NO,NO,331972
17,NaN,8901,NEWBRUNSWICK,NaN,6,3.38,NO,NO,335215
18,NaN,8901,NEWBRUNSWICK,NaN,7,5.01,NO,NO,338214
19,NaN,8901,NEWBRUNSWICK,NaN,8,6.27,NO,NO,339542
20,IDA,8901,NEWBRUNSWICK,NaN,9,10.01,YES,YES,340879
21,NaN,8901,NEWBRUNSWICK,NaN,10,7.37,NO,NO,342244
22,NaN,8901,NEWBRUNSWICK,NaN,11,1.00,NO,NO,343115
23,NaN,8901,NEWBRUNSWICK,NaN,12,1.45,NO,NO,345281
24,NaN,8901,NEWBRUNSWICK,2022.0,1,4.56,NO,NO,345281
25,NaN,8901,NEWBRUNSWICK,NaN,2,3.66,NO,NO,347723
26,NaN,8901,NEWBRUNSWICK,NaN,3,3.42,NO,NO,350051
27,NaN,8901,NEWBRUNSWICK,NaN,4,5.37,NO,NO,354406
28,NaN,8901,NEWBRUNSWICK,NaN,5,7.43,NO,NO,358706

In [5]:
# Learn more about our data
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29 entries, 0 to 28
Data columns (total 9 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   EVENT                      1 non-null      object
 1   ZIPCODES                   29 non-null     int64
 2   CITIES                     29 non-null     object
 3   YEAR                       3 non-null      float64
 4   MONTH                      29 non-null     int64
 5   RAINFALL(avg)              29 non-null     object
 6   FLOODZONE                  29 non-null     object
 7   STORM                      29 non-null     object
 8   AVERAGE HOUSEPRICE(label)  29 non-null     int64
dtypes: float64(1), int64(3), object(5)
memory usage: 2.2+ KB

In [6]:
df['FLOODZONE'].replace(['YES','NO'],[1,0],inplace=True)

In [10]:
df

,EVENT,ZIPCODES,CITIES,YEAR,MONTH,RAINFALL(avg),FLOODZONE,STORM,AVERAGE HOUSEPRICE(label)
0,NaN,8901,NEWBRUNSWICK,2020.0,1,2.01,0,NO,285731
1,NaN,8901,NEWBRUNSWICK,NaN,2,3.08,0,NO,287630
2,NaN,8901,NEWBRUNSWICK,NaN,3,4.54,0,NO,287675
3,NaN,8901,NEWBRUNSWICK,NaN,4,4.20,0,NO,288403
4,NaN,8901,NEWBRUNSWICK,NaN,5,2.33,0,NO,287621
5,NaN,8901,NEWBRUNSWICK,NaN,6,2.91,0,NO,287116
6,NaN,8901,NEWBRUNSWICK,NaN,7,11.39,0,NO,286919
7,NaN,8901,NEWBRUNSWICK,NaN,8,5.72,0,NO,290307
8,NaN,8901,NEWBRUNSWICK,NaN,9,4.61,0,NO,295746
9,NaN,8901,NEWBRUNSWICK,NaN,10,5.66,0,NO,302915
10,NaN,8901,NEWBRUNSWICK,NaN,11,3.47,0,NO,307610
11,NaN,8901,NEWBRUNSWICK,NaN,12,5.21,0,NO,311080
12,NaN,8901,NEWBRUNSWICK,2021.0,1,2.21,0,NO,310956
13,NaN,8901,NEWBRUNSWICK,NaN,2,5.64,0,NO,314397
14,NaN,8901,NEWBRUNSWICK,NaN,3,2.86,0,NO,319290
15,NaN,8901,NEWBRUNSWICK,NaN,4,2.49,0,NO,326010
16,NaN,8901,NEWBRUNSWICK,NaN,5,4.17,0,NO,331972
17,NaN,8901,NEWBRUNSWICK,NaN,6,3.38,0,NO,335215
18,NaN,8901,NEWBRUNSWICK,NaN,7,5.01,0,NO,338214
19,NaN,8901,NEWBRUNSWICK,NaN,8,6.27,0,NO,339542
20,IDA,8901,NEWBRUNSWICK,NaN,9,10.01,1,YES,340879
21,NaN,8901,NEWBRUNSWICK,NaN,10,7.37,0,NO,342244
22,NaN,8901,NEWBRUNSWICK,NaN,11,1.00,0,NO,343115
23,NaN,8901,NEWBRUNSWICK,NaN,12,1.45,0,NO,345281
24,NaN,8901,NEWBRUNSWICK,2022.0,1,4.56,0,NO,345281
25,NaN,8901,NEWBRUNSWICK,NaN,2,3.66,0,NO,347723
26,NaN,8901,NEWBRUNSWICK,NaN,3,3.42,0,NO,350051
27,NaN,8901,NEWBRUNSWICK,NaN,4,5.37,0,NO,354406
28,NaN,8901,NEWBRUNSWICK,NaN,5,7.43,0,NO,358706

In [11]:
#df['STORM'].replace(['YES','NO'],[1,0],inplace=True)
df.columns

Index(['EVENT', 'ZIPCODES', 'CITIES', 'YEAR', 'MONTH', 'RAINFALL(avg) ',
       'FLOODZONE', 'STORM ', 'AVERAGE HOUSEPRICE(label)'],
      dtype='object')

In [12]:
df = df.rename(columns={"STORM " : "STORM"})

In [14]:
df['STORM'].replace(['YES','NO'],[1,0],inplace=True)
df

,EVENT,ZIPCODES,CITIES,YEAR,MONTH,RAINFALL(avg),FLOODZONE,STORM,AVERAGE HOUSEPRICE(label)
0,NaN,8901,NEWBRUNSWICK,2020.0,1,2.01,0,0,285731
1,NaN,8901,NEWBRUNSWICK,NaN,2,3.08,0,0,287630
2,NaN,8901,NEWBRUNSWICK,NaN,3,4.54,0,0,287675
3,NaN,8901,NEWBRUNSWICK,NaN,4,4.20,0,0,288403
4,NaN,8901,NEWBRUNSWICK,NaN,5,2.33,0,0,287621
5,NaN,8901,NEWBRUNSWICK,NaN,6,2.91,0,0,287116
6,NaN,8901,NEWBRUNSWICK,NaN,7,11.39,0,0,286919
7,NaN,8901,NEWBRUNSWICK,NaN,8,5.72,0,0,290307
8,NaN,8901,NEWBRUNSWICK,NaN,9,4.61,0,0,295746
9,NaN,8901,NEWBRUNSWICK,NaN,10,5.66,0,0,302915
10,NaN,8901,NEWBRUNSWICK,NaN,11,3.47,0,0,307610
11,NaN,8901,NEWBRUNSWICK,NaN,12,5.21,0,0,311080
12,NaN,8901,NEWBRUNSWICK,2021.0,1,2.21,0,0,310956
13,NaN,8901,NEWBRUNSWICK,NaN,2,5.64,0,0,314397
14,NaN,8901,NEWBRUNSWICK,NaN,3,2.86,0,0,319290
15,NaN,8901,NEWBRUNSWICK,NaN,4,2.49,0,0,326010
16,NaN,8901,NEWBRUNSWICK,NaN,5,4.17,0,0,331972
17,NaN,8901,NEWBRUNSWICK,NaN,6,3.38,0,0,335215
18,NaN,8901,NEWBRUNSWICK,NaN,7,5.01,0,0,338214
19,NaN,8901,NEWBRUNSWICK,NaN,8,6.27,0,0,339542
20,IDA,8901,NEWBRUNSWICK,NaN,9,10.01,1,1,340879
21,NaN,8901,NEWBRUNSWICK,NaN,10,7.37,0,0,342244
22,NaN,8901,NEWBRUNSWICK,NaN,11,1.00,0,0,343115
23,NaN,8901,NEWBRUNSWICK,NaN,12,1.45,0,0,345281
24,NaN,8901,NEWBRUNSWICK,2022.0,1,4.56,0,0,345281
25,NaN,8901,NEWBRUNSWICK,NaN,2,3.66,0,0,347723
26,NaN,8901,NEWBRUNSWICK,NaN,3,3.42,0,0,350051
27,NaN,8901,NEWBRUNSWICK,NaN,4,5.37,0,0,354406
28,NaN,8901,NEWBRUNSWICK,NaN,5,7.43,0,0,358706

In [17]:
import numpy as np
import pandas as pd

df['EVENT'] = df['EVENT'].fillna(0)
df['YEAR'] = df['YEAR'].fillna(0)
df

,EVENT,ZIPCODES,CITIES,YEAR,MONTH,RAINFALL(avg),FLOODZONE,STORM,AVERAGE HOUSEPRICE(label)
0,0,8901,NEWBRUNSWICK,2020.0,1,2.01,0,0,285731
1,0,8901,NEWBRUNSWICK,0.0,2,3.08,0,0,287630
2,0,8901,NEWBRUNSWICK,0.0,3,4.54,0,0,287675
3,0,8901,NEWBRUNSWICK,0.0,4,4.20,0,0,288403
4,0,8901,NEWBRUNSWICK,0.0,5,2.33,0,0,287621
5,0,8901,NEWBRUNSWICK,0.0,6,2.91,0,0,287116
6,0,8901,NEWBRUNSWICK,0.0,7,11.39,0,0,286919
7,0,8901,NEWBRUNSWICK,0.0,8,5.72,0,0,290307
8,0,8901,NEWBRUNSWICK,0.0,9,4.61,0,0,295746
9,0,8901,NEWBRUNSWICK,0.0,10,5.66,0,0,302915
10,0,8901,NEWBRUNSWICK,0.0,11,3.47,0,0,307610
11,0,8901,NEWBRUNSWICK,0.0,12,5.21,0,0,311080
12,0,8901,NEWBRUNSWICK,2021.0,1,2.21,0,0,310956
13,0,8901,NEWBRUNSWICK,0.0,2,5.64,0,0,314397
14,0,8901,NEWBRUNSWICK,0.0,3,2.86,0,0,319290
15,0,8901,NEWBRUNSWICK,0.0,4,2.49,0,0,326010
16,0,8901,NEWBRUNSWICK,0.0,5,4.17,0,0,331972
17,0,8901,NEWBRUNSWICK,0.0,6,3.38,0,0,335215
18,0,8901,NEWBRUNSWICK,0.0,7,5.01,0,0,338214
19,0,8901,NEWBRUNSWICK,0.0,8,6.27,0,0,339542
20,IDA,8901,NEWBRUNSWICK,0.0,9,10.01,1,1,340879
21,0,8901,NEWBRUNSWICK,0.0,10,7.37,0,0,342244
22,0,8901,NEWBRUNSWICK,0.0,11,1.00,0,0,343115
23,0,8901,NEWBRUNSWICK,0.0,12,1.45,0,0,345281
24,0,8901,NEWBRUNSWICK,2022.0,1,4.56,0,0,345281
25,0,8901,NEWBRUNSWICK,0.0,2,3.66,0,0,347723
26,0,8901,NEWBRUNSWICK,0.0,3,3.42,0,0,350051
27,0,8901,NEWBRUNSWICK,0.0,4,5.37,0,0,354406
28,0,8901,NEWBRUNSWICK,0.0,5,7.43,0,0,358706